[include shell_command.cfg]
[include mainsail.cfg]
[include stepper.cfg]
[include macro.cfg]
[include sensorless.cfg]
[include Voron0_Display.cfg]
[include klipperExpander.cfg]
[include EBB36.cfg]
[include display_menu.cfg]
#[include probe.cfg]
[include klicky-probe.cfg]
[include leds.cfg]

# host MCU service is preinstalled and ready to use with:
[mcu CB1]
serial: /tmp/klipper_host_mcu


[mcu]
canbus_uuid:cb3d4b9e9f51

[exclude_object]

#####################################################################
#      Kinematics Type
#####################################################################

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 5000
max_z_velocity: 15
max_z_accel: 300
square_corner_velocity: 6.0

[resonance_tester]
accel_chip: adxl345
probe_points:
    60 , 60, 20  # an example



#####################################################################
#   Extruder
#####################################################################

[extruder]
#control: pid                                                        # Do PID calibration after initial checks

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: gpio21
sensor_type: Generic 3950                         # For Keenovo, verify yours
sensor_pin: gpio26
smooth_time: 3.0
max_power: 1        # Only need this for 100w pads
min_temp: 0
max_temp: 120
#control: pid     




#####################################################################
#	Homing and Gantry Adjustment Routines
#####################################################################


[idle_timeout]
timeout: 1800


[probe]
pin: EBBCan:PB8
#   Probe detection pin. If the pin is on a different microcontroller
#   than the Z steppers then it enables "multi-mcu homing". This
#   parameter must be provided.
#deactivate_on_each_sample: True
#   This determines if Klipper should execute deactivation gcode
#   between each probe attempt when performing a multiple probe
#   sequence. The default is True.
x_offset: -21
#   The distance (in mm) between the probe and the nozzle along the
#   x-axis. The default is 0.
y_offset: 15
#   The distance (in mm) between the probe and the nozzle along the
#   y-axis. The default is 0.
z_offset: 10
#   The distance (in mm) between the bed and the nozzle when the probe
#   triggers. This parameter must be provided.
speed: 5.0
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
samples: 3



[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 10,110
screw2_name: back left
screw3: 110,110
screw3_name: back right

[screws_tilt_adjust]
screw1: 81,5
screw1_name: front screw
screw2: 31,95
screw2_name: back left
screw3: 120,95
screw3_name: back right
horizontal_move_z: 20.
speed: 50.
screw_thread: CW-M3


[bed_mesh]
horizontal_move_z: 12
speed: 200
mesh_min: 16,20
mesh_max: 99,99
probe_count: 7,7
mesh_pps: 2,2
algorithm: bicubic
#   The interpolation algorithm to use. May be either "lagrange" or
#   "bicubic". This option will not affect 3x3 grids, which are forced
#   to use lagrange sampling. Default is lagrange.
fade_start: 1
fade_end: 5
fade_target: 0
zero_reference_position: 60, 60


[temperature_sensor btt_pi1.2]
sensor_type: temperature_host
min_temp: 0
max_temp: 80

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 80

[temperature_sensor Chamber]
sensor_type: Generic 3950
sensor_pin: gpio27

[gcode_arcs]
resolution: 0.1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# pid_kp = 59.640
#*# pid_ki = 1.949
#*# pid_kd = 456.248
#*# control = pid
#*#
#*# [extruder]
#*# pid_kp = 19.841
#*# pid_ki = 1.058
#*# pid_kd = 93.006
#*# control = pid
#*#
#*# [stepper_z]
#*# position_endstop = 116.056
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 75.8
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 74.2
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.072084, -0.012084, -0.001667, 0.013750, 0.062916, 0.058333, 0.037083
#*# 	  -0.065000, -0.031667, 0.002083, 0.013333, 0.017083, 0.025833, 0.020000
#*# 	  -0.055834, -0.013750, -0.005000, 0.007916, 0.012916, 0.020416, -0.005417
#*# 	  -0.045000, -0.018334, -0.023750, -0.001667, 0.009166, 0.016250, -0.015834
#*# 	  -0.049167, -0.020417, -0.017084, -0.008334, -0.003334, -0.000000, -0.009167
#*# 	  -0.050000, -0.034584, -0.031667, -0.030000, -0.002500, -0.007084, -0.017917
#*# 	  -0.035834, -0.023750, -0.032500, -0.003750, -0.007500, 0.002500, -0.003750
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 16.0
#*# max_x = 98.98
#*# min_y = 20.0
#*# max_y = 98.96
#*#
#*# [bed_mesh ASA]
#*# version = 1
#*# points =
#*# 	-0.042913, 0.005837, 0.022504, 0.038754, 0.032087, 0.074587, 0.040837
#*# 	-0.037913, -0.005830, 0.003754, 0.017087, 0.025420, 0.060420, 0.015837
#*# 	-0.017496, -0.003330, 0.010420, 0.030420, 0.020420, 0.037087, 0.002504
#*# 	-0.026663, -0.011663, 0.008337, 0.000004, 0.003754, 0.023754, -0.018330
#*# 	-0.033746, -0.010413, 0.002920, -0.008330, 0.015837, 0.012504, -0.025830
#*# 	-0.030830, -0.006663, -0.018330, -0.006246, -0.003330, -0.013330, -0.042913
#*# 	-0.013746, -0.001246, -0.011246, 0.006254, 0.000837, 0.005837, -0.013330
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 16.0
#*# max_x = 98.98
#*# min_y = 20.0
#*# max_y = 98.96
